.header {
  margin: 0 2.5rem;
  padding: 0.5rem 0;
  align-items: center;
  display: flex;
  justify-content: center;
}

.headerLeft,
.headerRight {
  display: flex;
  align-items: center;
}

a > span {
  margin: 0 30px;
  font-size: 1.3rem;
  cursor: pointer;
  color: white;
}

a > span:hover {
  background: linear-gradient(to right, #dc2430, #7b4397);
  background-clip: text;
  color: transparent;
}

.header__logo {
  display: flex;
}

.header__icon {
  width: 50px;
  object-fit: cover;
  cursor: pointer;
}

.header__name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 6px;
  font-size: 2rem;
  font-weight: bold;
  background: linear-gradient(to right, #dc2430, #7b4397);
  background-clip: text;
  color: transparent;
}

.user__avatar {
  font-size: 2rem;
}

/* For tablets: */
@media screen and (max-width: 1024px) {

}

/* For mobile phones: */
@media screen and (max-width: 739px) {
.header {
  margin: 0 1rem;
  padding: 0.5rem 0;
}
  .header__name {
    display: none;
  }
  .header__icon {
    width: 30px;
  }
  a > span {
    font-size: 1rem;
    display: inline;
    margin: 0 5px;
  }
}
